header{
    position: absolute;
    right: 150px;
    z-index: 999;
}

header.fix {
	position: fixed;
}

header ul{
    font-size: 0;
}

header ul li{
    display: inline-block;
    margin-right: 50px;
    height: 75px;
    line-height: 75px;
}

header ul li.active a{
    color: #ff8400;
}

header ul li:last-child{
    margin-right: 0;
}

header ul li a{
    color: #fff;
    letter-spacing: 0;
    font-size: 16px;
    font-weight:200;
    transition: all .5s;
}

section{
    background: black;
}
#section0{
    position: relative;
    background: url(../img/mainImg.jpg) no-repeat;
    background-size: cover;
}
#section0 .typing{
    color: #fff;    
    font-size: 80px;
    font-weight: 300;
    position: absolute;
    top: 20%;
    left: 150px;
}

#section0 .typing li{
    line-height: 100px;
}

#section0 .typing li:last-child{
    font-weight: 400;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 30px;
  height: 50px;
  margin-left: -15px;
  margin-top: -25px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  bottom: 100px;
}

.icon-scroll:before{
  content: '';
  width: 5px;
  height: 5px;
  background: #fff;
  margin-left: -2.5px;
  top: 10px;
  border-radius: 2.5px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }100%{
    opacity: 0;
    transform: translateY(26px);
  }
}

.guide{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.guide .guideTxt{
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
}

.guide .guideTxt span{
    color: #ff8400;
}

.guide .guideClose{
    color: #aaa;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.icon-scroll-row,
.icon-scroll-row:before{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon-scroll-row{
  width: 60px;
  height: 30px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 15px;
}

.icon-scroll-row:before{
  content: '';
  width: 5px;
  height: 5px;
  background: #fff;
  margin-left: -2.5px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  border-radius: 2.5px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll-row;
  background: #fff;
}
@keyframes scroll-row{
  0%{
    opacity: 1;
  }100%{
    opacity: 0;
    transform: translate(30px, -50%);
  }
}

.typing-txt{display: none;}

.typing ul li{
  display:block;
}

.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

#section1{
    overflow: hidden;
    width: 100%;
    padding: 100px 150px 0 150px;
    box-sizing: border-box;
    background: url(../img/aboutImg.jpg) no-repeat left bottom;
    background-size: contain; 
}

#section1 .aboutme{
    height: 100%;
    float: left;
    width: 30%;
    color: #fff;
    font-weight: 100;
    margin-right: 100px;
}

#section1 .aboutme dt .name{
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 5px;
}

#section1 .aboutme dt .greet{
    margin-top: 20px;
    font-weight: 100;
    line-height: 20px;
    color: #eee;
}

#section1 .aboutme dd.info{
    margin-top: 50px;
    font-size: 14px;
    line-height: 20px;
    color: #aaa; 
}


#section1 .aboutInfo{
    width: calc(70% - 100px);
    float: left;
    overflow: hidden;
}

#section1 .aboutInfo dl{
    float: left;
    width: 100%
}

#section1 .aboutInfo dl:first-child dt{
    margin-top: 0;
}

#section1 .aboutInfo dt{
    font-size: 16px;
    margin: 30px 0 10px 0;
    letter-spacing: 2px;
}

#section1 .aboutInfo dd{
    overflow: hidden;
}

#section1 .aboutInfo dd li{
    font-weight: 100;
    line-height: 24px;
    color: #ddd;
}

#section1 .aboutInfo dd li.mobile{
    display: none;
}

.zt-skill-bar {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    width: calc(50% - 30px);
    float: left;
    background-color: #191919;
    border-radius: 10px;
}

.zt-skill-bar:nth-child(2n){
    margin-left: 30px;
}

.zt-skill-bar * {
    transition: all 2s ease;
}

.zt-skill-bar div {
    background-color: #333;
    position: relative;
    padding-left: 15px;
    width: 0;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;    
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    height: 100%;
    padding-right: 15px;
    color: #ff8400;
    font-weight: 400;
    background-color: #333;
}

/* main.jsp */
.mainRolling {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	display: block;
	position: relative;
}

.mainRolling .swiper-container {
	width: 100%;
	height: 100%;
}

.mainRolling .swiper-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mainRolling .swiper-slide:nth-child(1) {
	background: url(../img/2bs.jpg) no-repeat top center;
	background-size: cover;
}

.mainRolling .swiper-slide:nth-child(2) {
	background: url(../img/withwork.jpg) no-repeat center center;
	background-size: cover;
}

.mainRolling .swiper-pagination_main {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	z-index: 50
}

.mainRolling .swiper-pagination_main .swiper-pagination-bullet {
	border-radius: 0;
	width: 8px;
	height: 8px;
	margin-right: 20px;
	background-color: white;
	opacity: 1;
	border-radius: 8px;
}

.mainRolling .swiper-pagination-bullet-active {
	width: 70px !important;
	height: 8px;
	background-color: #fff !important;
}

.mainRolling .projectInfo {
    position: absolute;
    width: 100%;
    padding: 0 150px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
	text-align: left;
    transition: all .5s;
    overflow: hidden;
    z-index: 20;
}

.swiperTit{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 100px;
    position: relative;
}

.swiperTit .btnBox{
    margin-top: 30px;
    font-size: 0;
}

.swiperTit .btnBox a:first-child{
    margin-right: 4%;
    background: #ff8400;
    color: #fff;
}

.swiperTit .btnBox a{
    display: inline-block;
    font-size: 14px;
    width: 48%;
    text-align: center;
    height: 45px;
    line-height: 43px;
    border-radius: 22.5px;
    background: transparent;
    color: #ff8400;
    border: 1px solid #ff8400;
    box-sizing: border-box;
}

.swiperTit dt{
    font-size: 36px;
}

.swiperTit dd:nth-child(2){
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

.swiperTit dd:last-child{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
    color: #ddd;
    line-height: 20px;
}

.swiperTxt{
    width: calc(70% - 100px);
    float: left;
}

.swiperTxt dl{
    margin-bottom: 20px;
}

.swiperTxt dl dd{
    margin-top: 10px;  
    line-height: 20px;
    font-weight: 100;
    color: #ddd;
}

.mainRolling .swiper-slide.animate .swiperText {
    height: 100%;
}

.mainRolling .swiper-slide.animate .swiperText dd a {
    opacity: 1;
    transition-delay: .5s;
    transition-duration: .5s;
}

#section2{
    position: relative;
}

.slideGuide{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 20;
    top: 0;
    left: 0;
    opacity: .92;
}

#section3{
    padding: 100px 150px 0 150px;
    box-sizing: border-box;
    background: url(../img/contact04.jpg) no-repeat center left;
    background-size: cover;
    position: relative;
}

#section3 .contact{
    position: absolute;
    right: 100px;
    bottom: 100px;
}

#section3 p{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

#section3 dl{
    margin-top: 30px;
}

#section3 dl dt{
    display: inline-block;
    margin-bottom: 20px;

}

#section3 dl dd{
    line-height: 20px;
    color: #ddd;
}

#section3 dl dd:last-child{
    margin-top: 20px;
}

#section3 .imgBox{
    margin-top: 30px;
    width: 100%;
    height: 350px;
}

#section1 .aboutme dd.skipBtn{
    margin-top: 50px;
}

.btn--base{
    overflow:hidden; 
    transition:all .5s;
}

.btn--base,.btn--base .btn__inner{
    position:relative; 
    display:inline-block;
    border-radius:25px; 
    box-shadow:inset 0 0 0 1px #fff;
}

.btn--base .btn__inner{
    z-index:1; 
    font-size:14px; 
    font-weight:300; 
    color:#fff;
    text-align:center; 
    width:160px; 
    height:45px; 
    line-height:45px; 
    transition:color .5s; 
}

.btn--base:hover .btn__inner{box-shadow:none;}

.btn--base .btn__ink{
  position:absolute; 
  display:block; 
  background:#ff8400;
  animation:c .45s;
  animation-fill-mode:forwards;
  min-width:160px;
  min-height:45px;
  opacity:0;
  transition:opacity .3s;}
  
.btn--base.bg04 .btn__ink{
  background:#ffe680;}
.btn--base.bg04:hover .btn__inner{color:#d2593a; box-shadow:none;}

.btn--base .btn__ink--active{
  animation:b .5s;
  animation-fill-mode:forwards;
  opacity:1;
  transition:none;
}

@-webkit-keyframes b{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(2.5);transform:scale(2.5)}}

@keyframes b{0%{-webkit-transform:scale(0);transform:scale(0)}
100%{-webkit-transform:scale(2.5);transform:scale(2.5)}}

@-webkit-keyframes c{0%{-webkit-transform:scale(2.5);transform:scale(2.5)}100%{-webkit-transform:scale(0);transform:scale(0)}}

@keyframes c{0%{-webkit-transform:scale(2.5);transform:scale(2.5)}100%{-webkit-transform:scale(0);transform:scale(0)}}


@media (max-width: 1024px) {
    .mainRolling .swiper-slide{
        height: auto !important;
    }
    
    #section1, #section1 .fp-tableCell, #section2, #section2 .fp-tableCell, #section3 .fp-tableCell{
        height: auto !important;
    }
    
    #section0, #section0 .fp-tableCell, #section3 {
        height: 100vh !important;
    }

    #section0 .typing{
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
    }  

    #section1{
        padding: 50px;
    }

    .mainRolling .projectInfo{
        padding: 50px;
    }

    .mainRolling .projectInfo{
        position: sticky;
        transform: translateY(0);
        top: 0;
    }

    .swiperTit{
        margin-right: 0;
        float: none;
        width: 100%;
    }

    .swiperTxt{
        width: 100%;
        float: none;
        margin-top: 50px;
    }

    .mainRolling .swiper-pagination_main{
        bottom: 30px;
    }

    #section3{
        height: 100vh;
    }
}

@media (max-width: 767px) {
    
    #section0 .typing{
        font-size: 10.41vw;
    }
    #section0 .typing li{
        line-height: 13.02vw;
    }

    #section1{
        background: url(../img/aboutImg_mb.jpg) no-repeat top center;
        background-size: contain;
    }

    #section1 .aboutme{
        width: 100%;
        float: none;
        height: auto;
    }

    #section1 .aboutInfo{
        float: none;
        width: 100%;
    }

    #section1 .aboutme dt .greet{
        margin-top: 10px;
    }

    #section1 .aboutme dd.info{
        margin: 20px 0 50px 0;
    }

    #section1 .aboutInfo dd li{
        margin-bottom: 10px;
    }

    #section1 .aboutInfo dl:not(:first-child) dd li{
        display: none;
    }

    #section1 .aboutInfo dl:not(:first-child) dd li.mobile{
        display: block;
    }

    #section1 .aboutme dd.skipBtn{
        display: none;
    }

    .zt-skill-bar{
        width: 100%;
    }

    .zt-skill-bar:nth-child(2n){
        margin-left: 0;
    }

    .guide{
        top: 10%;
        transform: translateX(-50%);
    }

    
}

@media (max-width: 480px) {

    #section1{
        padding: 30px;
    }

    header ul{
        display: none;
    }    

    .mainRolling .projectInfo{
        padding: 30px 30px 100px 30px;
    }

    #section3 .contact{
        bottom: 50px;
        left: 30px;
    }

}
